# system files
.vscode
.DS_Store

# build files
/dist
/build

# node modules
/node_modules

# env files
/config/env/*
!/config/env/.env.template

#log files
/logs
/logs/all.log
/logs/error.log

# IntelliJ IDEA
.idea